<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	    <section class="layout-content" layout:fragment="corpo">
	
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Cadastrar Serviços</span>
	                    </li>
	                </ul>
	            </div>
	            <div>
	            <a class="btn btn-primary btn-md" href="/servicos/listar" role="button">
	                <span class="oi oi-spreadsheet" title="Cadastro" aria-hidden="true"></span>
	                <span>Listar Serviços</span>
	            </a>
	           
	        </nav>
	
	        <div class="container" id="cadastro">
	            <form action="/servicos/salvar" method="POST">
	                <div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="nome">Nome do Serviço</label>
	                        <input type="text" class="form-control" id="nome" placeholder="Nome Serviço" autofocus="autofocus"
	                               name="nome" value=""/>
	                    </div>
	                    <div class="form-group col-md-6">
	                        <label for="nome">Descrição do Serviço</label>
	                        <input type="text" class="form-control" id="descricao" placeholder="Descrição Serviço" autofocus="autofocus"
	                               name="descricao" value=""/>
	                    </div>
	                    <div class="form-group col-md-6">
	                        <label for="nome">Valor Serviço R$</label>
	                        <input type="text" class="form-control" data-mask="#.##0,00"
	                               data-mask-reverse="true" id="valor" 
	                               name="valor" value=""/>
	                    </div>
	                    
	                </div>
	                <input type="hidden" id="id" name="id" value=""/>
	                <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
	            </form>
	        </div>
	    </section>
</body>
</html>